<div class="code-editor-container d-flex h-100 gap-2">
    <div class="editor-toolbar d-flex align-items-center flex-column">
        <button class="btn" [ngClass]="{ 'active': showData }" (click)="filterData()">
            <img src="icons/table.png" title="Run selected code" height="15px">
            Data
        </button>

        <div class="separator"></div>

        <button class="btn" [ngClass]="{ 'active': showColumns }" (click)="filterColumns()">
            <img src="icons/column.png" title="Run all code" height="15px">
            Columns
        </button>

        <div class="separator"></div>

        <button class="btn" [ngClass]="{ 'active': showKeys }" (click)="filterKeys()">
            <img src="icons/key.png" title="Indent code" height="15px">
            Keys
        </button>

        <div class="separator"></div>

        <button class="btn" [ngClass]="{ 'active': showIndexes }" (click)="filterIndexes()">
            <img src="icons/index.png" title="Save code" height="15px">
            Indexes
        </button>

        <div class="separator"></div>

        <button class="btn" [ngClass]="{ 'active': showDDL }" (click)="filterDDL()">
            <img src="icons/code.png" title="Save code" height="15px">
            DDL
        </button>
    </div>
    <div class="info py-2">
        <div *ngIf="showData">
            <div class="table">
                <app-fix-table-data [calcWidth]="380" [elementName]="elementName"></app-fix-table-data>
            </div>
        </div>
        <div *ngIf="showColumns">
            <div class="columns" *ngFor="let table of data.views">
                <h2 class="subtitle-min">{{ table.NAME || table.name }}</h2>
            </div>
        </div>
        <div *ngIf="showKeys">
            <div class="table" *ngFor="let table of data.procedures">
                <h2 class=" subtitle-min">{{ table.NAME || table.name }}</h2>
            </div>
        </div>
        <div *ngIf="showIndexes">
            <div class="table" *ngFor="let table of data.indexes">
                <h2 class=" subtitle-min">{{ table.NAME || table.name }}</h2>
            </div>
        </div>
        <div *ngIf="showDDL">
            <div class="table" *ngFor="let table of data.indexes">
                <h2 class=" subtitle-min">{{ table.NAME || table.name }}</h2>
            </div>
        </div>
    </div>
</div>

<app-toast></app-toast>