<div class="modal-overlay">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="title text-center w-100">Load a query file</h5>
        </div>
        <div class="modal-body">
            <div class="d-flex w-100 gap-3">
                <input [(ngModel)]="queryName" type="text" maxlength="20" class="input-page"
                    placeholder="Search your query" (ngModelChange)="validateQueryName($event)" />
                <app-input-list #database [list]="dataList" [displayKey]="'name'" [width]="'211.2px'"
                    (itemSelected)="onDatabaseSelected($event)"
                    [placeholder]="'Choose the database type'"></app-input-list>
            </div>

            <div class="queries">
                <div class="query-item" *ngFor="let query of queries">
                    <img src="db-logo/{{ query.dbSchema.sgbd }}.png" height="15px" (click)="loadQuery(query)">
                    <h2 class="subtitle" (click)="loadQuery(query)">{{ query.name }}</h2>
                    <img src="icons/delete.png" height="15px" (click)="deleteQuery(query)">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn-cancel" (click)="onClose()">Cancel</button>
        </div>
    </div>
</div>

<app-toast></app-toast>