<div class="code-editor-container d-flex h-100 gap-2">
    <div class="editor-toolbar d-flex align-items-center flex-column">
        <button class="btn">
            <img src="icons/table.png" title="Run selected code" height="15px">
            Tables
        </button>

        <div class="separator"></div>

        <button class="btn">
            <img src="icons/view.png" title="Run all code" height="15px">
            Views
        </button>

        <div class="separator"></div>

        <button class="btn">
            <img src="icons/procedure.png" title="Indent code" height="15px">
            Procedures
        </button>

        <div class="separator"></div>

        <button class="btn">
            <img src="icons/index.png" title="Save code" height="15px">
            Indexes
        </button>
    </div>
    <div class="code-editor py-2">

    </div>
</div>

<app-toast></app-toast>