<div class="code-editor-container d-flex h-100 gap-2">
    <div class="editor-toolbar d-flex align-items-center flex-column">
        <button class="btn" [ngClass]="{ 'active': showTables }" (click)="filterTables()">
            <img src="icons/table.png" title="Run selected code" height="15px">
            Tables
        </button>

        <div class="separator"></div>

        <button class="btn" [ngClass]="{ 'active': showViews }" (click)="filterViews()">
            <img src="icons/view.png" title="Run all code" height="15px">
            Views
        </button>

        <div class="separator"></div>

        <button class="btn" [ngClass]="{ 'active': showProcedures }" (click)="filterProcedures()">
            <img src="icons/procedure.png" title="Indent code" height="15px">
            Procedures
        </button>

        <div class="separator"></div>

        <button class="btn" [ngClass]="{ 'active': showIndexes }" (click)="filterIndexes()">
            <img src="icons/index.png" title="Save code" height="15px">
            Indexes
        </button>
    </div>
    <div class="info">
        <div *ngIf="showTables">
            <div class="input-container py-2">
                <input type="text" class="input-page mb-1" placeholder="Search table..." [(ngModel)]="filterTable"
                    (input)="applyFilterTable()">
            </div>
            <div class="tables">
                <div class="table" *ngFor="let table of filteredTables" (click)="tableInfo(table)">
                    <h2 class="subtitle-min">{{ table.NAME || table.name }}</h2>
                </div>
            </div>
        </div>
        <div *ngIf="showViews">
            <div class="table" *ngFor="let table of data.views" (click)="tableInfo(table)">
                <h2 class="subtitle-min">{{ table.NAME || table.name }}</h2>
            </div>
        </div>
        <div *ngIf="showProcedures">
            <div class="table" *ngFor="let table of data.procedures" (click)="tableInfo(table)">
                <h2 class=" subtitle-min">{{ table.NAME || table.name }}</h2>
            </div>
        </div>
        <div *ngIf="showIndexes">
            <div class="table" *ngFor="let table of data.indexes" (click)="tableInfo(table)">
                <h2 class=" subtitle-min">{{ table.NAME || table.name }}</h2>
            </div>
        </div>
    </div>
</div>

<app-toast></app-toast>