.content {
    display: flex;
    justify-content: center;
    padding: 5px;

    flex-direction: column;

    .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        width: 100%;
        padding: 5px 25px;

        .card {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 210px;
            height: 210px;
            padding: 10px 20px;

            border-radius: 30px;

            background-color: #000000;
            color: #b8b8b9;

            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}