nav {
    position: fixed;

    display: flex;
    align-items: center;
    height: 40px;

    -webkit-app-region: drag;

    background-color: #0e0e0e;

    h5 {
        color: #e8eaed;
    }

    .fechar {
        display: flex;
        justify-content: end;
        align-items: center;

        padding: 5px 10px;
        gap: 10px;

        p {
            margin: 0;
        }
    }
}