:host {
    display: block;
    position: relative;
    width: 100%;
}

:host.dropdown-open {
    z-index: 10000;
}

.dropdown-container {
    position: relative;
    width: 100%;
    border: 1px solid var(--dbolt-353535);
    border-radius: 15px;
    background-color: var(--dbolt-1b1b1b);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &.disabled {
        opacity: .55;
    }
}

.filter-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 12px;
    background-color: var(--dbolt-1b1b1b);
    color: var(--dbolt-e8eaed);
    border-radius: 15px;

    font-family: 'Nunito';

    &:disabled {
        cursor: not-allowed;
    }
}

.dropdown-list {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid var(--dbolt-353535);
    background-color: var(--dbolt-1b1b1b);
    z-index: 9999;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.dropdown-item {
    font-family: 'Nunito';
    font-weight: 500;

    padding: 12px;
    color: var(--dbolt-e8eaed);
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
        background-color: var(--dbolt-141414);
    }
}

:host.compact {
    .dropdown-container {
        border-radius: 10px;

        &::after {
            color: var(--dbolt-969696);
            content: '⌄';
            font-size: 13px;
            pointer-events: none;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-55%);
        }
    }

    .filter-input {
        border-radius: 10px;
        font-size: .76em;
        font-weight: 700;
        min-height: 34px;
        padding: 7px 30px 7px 10px;
        text-overflow: ellipsis;
    }

    .dropdown-list {
        border-radius: 10px;
        max-height: 240px;
    }

    .dropdown-item {
        font-size: .76em;
        padding: 9px 10px;
    }
}
