<div class="content d-flex w-100 h-100">
    <app-sidebar [connections]="connections" [activeConnection]="activeConnection"
        [dbSchemas]="databasesSchemasActiveConnections" [selectedSchemaDB]="selectedSchemaDB"
        (sidebarStatusChange)="onSidebarStatusChange($event)" (dbInfoRequested)="onDbInfoRequested($event)"
        (selectedSchemaChanged)="onSelectedSchemaChanged($event)"
        (settingsRequested)="onSettingsRequested()" (sqlScriptRequested)="onSqlScriptRequested($event)"
        (contextConnectionRequested)="onContextConnectionRequested($event)"></app-sidebar>
    <div class="main-area">
        <div class="tabs pt-3 px-3">
            <app-tabs (tabSelected)="onTabSelected($event)" (tabClosed)="onTabClosed()"></app-tabs>
        </div>
        <div class="organize">
            <div class="d-flex flex-column w-100 h-100 user-content">
                <h3 *ngIf="firstMessage" class="subtitle-min text-center py-4">Create a new SQL query or
                    open
                    database information</h3>
                <app-db-info *ngIf="dbInfoInitialized" [hidden]="!dbInfoOpen" [data]="dbSchemasData"
                    [tabInfo]="dbInfoTabInfo" (moreInfo)="openMoreInfo($event)"></app-db-info>
                <app-table-info *ngIf="tableInfoInitialized" [hidden]="!tableInfoOpen" [data]="tableInfoData"
                    [elementName]="elementName" [tabInfo]="tableInfoTabInfo"></app-table-info>
                <app-procedure-info *ngIf="procedureInfoInitialized" [hidden]="!procedureInfoOpen"
                    [data]="procedureInfoData" [elementName]="procedureElementName" [tabInfo]="procedureInfoTabInfo"
                    (editRequested)="onProcedureEditRequested($event)"></app-procedure-info>
                <app-settings *ngIf="settingsOpen"></app-settings>
                <app-query-assistant *ngIf="queryAssistantOpen" [tabInfo]="tabInfo"
                    (selectBuilderRequested)="onSelectBuilderRequested($event)"></app-query-assistant>
                <app-select-builder *ngIf="selectBuilderOpen" [tabInfo]="tabInfo"
                    (queryRequested)="onBuilderQueryRequested($event)"></app-select-builder>

                <app-code-editor *ngFor="let tab of openTabs; trackBy: trackTabByIdentity"
                    [hidden]="!isActiveSqlTab(tab)" [active]="isActiveSqlTab(tab)" [sqlContent]="tab.info?.sql || ''"
                    [widthTable]="widthTable" [tabInfo]="tab" (sqlContentChange)="onSqlContentChange($event, tab)"
                    (savedName)="onSavedQuery($event, tab)" (savedQuery)="onExistingSavedQuery($event)">
                </app-code-editor>
            </div>
        </div>
    </div>
</div>

<app-toast></app-toast>
