<div class="content d-flex w-100 h-100">
    <app-sidebar [connections]="connections" [activeConnection]="activeConnection"
        [dbSchemas]="databasesSchemasActiveConnections" [selectedSchemaDB]="selectedSchemaDB"
        (sidebarStatusChange)="onSidebarStatusChange($event)"
        (dbInfoRequested)="onDbInfoRequested($event)"></app-sidebar>
    <div class="d-flex flex-column w-100 h-100">
        <div class="tabs pt-3 px-3">
            <app-tabs (tabSelected)="onTabSelected($event)" (tabClosed)="onTabClosed()"></app-tabs>
        </div>
        <div class="p-3 organize">
            <div class="d-flex flex-column w-100 h-100 user-content">
                <h3 *ngIf="!dbInfoOpen && !editorOpen" class="subtitle-min text-center py-4">Create a new SQL query or
                    open
                    database information</h3>
                <app-db-info *ngIf="dbInfoOpen" [data]="dbSchemasData"></app-db-info>
                <app-code-editor *ngIf="editorOpen" [(sqlContent)]="sqlContent" [widthTable]="widthTable"
                    [tabInfo]="tabInfo" (sqlContentChange)="onSqlContentChange($event)"
                    (savedName)="onSavedQuery($event)"></app-code-editor>
            </div>
        </div>
    </div>
</div>

<app-toast></app-toast>