.content {
    display: flex;
    max-width: 100vw;
}

.user-content {
    background-color: #292727;

    border-radius: 25px;
    padding: 10px 15px;

    height: 100%;
}

.organize-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;

    width: 100% !important;
    min-height: 100%;
}

.organize {
    height: 90%;
    // max-height: 90%;
}

@media (min-height: 700px) {
    .organize {
        height: 90%;
    }
}

@media (min-height: 800px) {
    .organize {
        height: 91%;
    }
}

@media (min-height: 900px) {
    .organize {
        height: 92%;
    }
}