:host {
    display: block;
    min-width: 0;
    width: 100%;
}

.input-page {
    box-sizing: border-box;
    min-width: 0;

    &::placeholder {
        color: var(--dbolt-777);
        opacity: 1;
    }
}

.input-page-compact {
    height: 34px;
    padding-bottom: 0;
    padding-top: 0;
}
