<div class="modal-overlay">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="title text-center w-100">
                {{ isEditing ? t('connection.title.edit') : t('connection.title.create') }}
            </h5>
        </div>
        <div class="modal-body">
            <h2 class="subtitle">{{ t('connection.name') }}</h2>
            <input [(ngModel)]="connectionName" type="text" maxlength="14" class="input-page"
                [placeholder]="t('connection.namePlaceholder')" (ngModelChange)="validateConnectionName($event)" />

            <div class="my-4"></div>

            <h2 class="subtitle">{{ t('connection.databaseType') }}</h2>
            <app-input-list #database *ngIf="!isEditing" [list]="dataList" [displayKey]="'name'" [width]="'400px'"
                [placeholder]="t('connection.databasePlaceholder')"
                (itemSelected)="onDatabaseSelected($event)"></app-input-list>
            <input *ngIf="isEditing" [value]="sgbd" type="text" class="input-page" readonly />

            <div class="my-4"></div>

            <h2 *ngIf="sgbd" class="subtitle">{{ t('connection.version') }}</h2>
            <app-input-list #version *ngIf="sgbd && !isEditing" [list]="versionList" [displayKey]="'name'" [width]="'400px'"
                [placeholder]="t('connection.versionPlaceholder')"
                (itemSelected)="onVersionSelected($event)">
            </app-input-list>
            <input *ngIf="sgbd && isEditing" [value]="sgbdVersion" type="text" class="input-page" readonly />

            <div class="my-4"></div>

            <div *ngIf="sgbd && sgbdVersion" class="d-flex align-items-center w-100">
                <h2 class="subtitle w-100">{{ t('connection.details') }}</h2>
                <div class="img-test">
                    <img [src]="getDatabaseLogoPath()" height="20px" width="20px">
                </div>
            </div>
            <div *ngIf="sgbd && sgbdVersion" class="d-flex flex-column w-100 gap-2">
                <div class="d-flex w-100 gap-2">
                    <app-sqlite-file-explorer *ngIf="isSQLite" [(selectedPath)]="connectionConfig.host"></app-sqlite-file-explorer>
                    <input *ngIf="!isSQLite" [(ngModel)]="connectionConfig.host" type="text" class="input-page"
                        [placeholder]="getHostPlaceholder()" />
                    <input *ngIf="!isSQLite" [(ngModel)]="connectionConfig.port" type="number" class="input-page input-min"
                        [placeholder]="t('connection.portPlaceholder')" />
                </div>
                <input *ngIf="!isSQLite" [(ngModel)]="connectionConfig.user" type="text" class="input-page"
                    [placeholder]="t('connection.userPlaceholder')" />
                <div class="d-flex w-100 gap-2">
                    <input [(ngModel)]="connectionConfig.password" type="password" class="input-page"
                        [placeholder]="t('connection.passwordPlaceholder')" *ngIf="!isSQLite" />
                    <button class="btn-page-2 bg-blue" (click)="testConnection()">{{ t('connection.try') }}</button>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <app-button variant="danger" (pressed)="onClose()">{{ t('connection.cancel') }}</app-button>
            <app-button (pressed)="newConnection()">
                {{ isEditing ? t('connection.save') : t('connection.add') }}
            </app-button>
        </div>
    </div>
</div>

<app-toast #toast></app-toast>
