<div class="modal-overlay">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="title text-center w-100">Create a new connection</h5>
        </div>
        <div class="modal-body">
            <h2 class="subtitle">Choose the database type.</h2>
            <app-input-list #database [list]="dataList" [displayKey]="'name'" [width]="'400px'"
                (itemSelected)="onDatabaseSelected($event)"></app-input-list>

            <div class="my-4"></div>

            <h2 *ngIf="sgbd" class="subtitle">Choose a class connection version</h2>
            <app-input-list #version *ngIf="sgbd" [list]="versionList" [displayKey]="'name'" [width]="'400px'"
                (itemSelected)="onVersionSelected($event)">
            </app-input-list>

            <div class="my-4"></div>

            <div *ngIf="sgbd && sgbdVersion" class="d-flex align-items-center w-100">
                <h2 class="subtitle w-100">Connection details</h2>
                <div class="img-test">
                    <img src="db-logo/{{ sgbd }}.png" height="20px" width="20px">
                </div>
            </div>
            <div *ngIf="sgbd && sgbdVersion" class="d-flex flex-column w-100 gap-2">
                <div class="d-flex w-100 gap-2">
                    <input [(ngModel)]="connectionConfig.host" type="text" class="input-page" placeholder="Host" />
                    <input [(ngModel)]="connectionConfig.port" type="number" class="input-page input-min"
                        placeholder="Port" />
                </div>
                <input [(ngModel)]="connectionConfig.user" type="text" class="input-page" placeholder="User" />
                <div class="d-flex w-100 gap-2">
                    <input [(ngModel)]="connectionConfig.password" type="password" class="input-page"
                        placeholder="Password" />
                    <button class="btn-page-2 bg-blue">Try</button>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn-cancel" (click)="onClose()">Cancel</button>
            <button class="btn-page">Connect</button>
        </div>
    </div>
</div>