<div class="chat-input">
    <label class="readonly-toggle" [class.disabled]="!databaseContextAvailable">
        <input type="checkbox" [(ngModel)]="allowDatabaseContext" [disabled]="disabled || !databaseContextAvailable">
        <span>{{ t('aiAssistant.readonlyDb') }}</span>
    </label>

    <textarea class="input-page chat-textarea" [(ngModel)]="message" rows="3" [disabled]="disabled"
        [placeholder]="t('aiAssistant.askPlaceholder')"
        (keydown.ctrl.enter)="submit()"></textarea>

    <button type="button" class="btn-page-2" (click)="submit()" [disabled]="!canSend">
        {{ t('aiAssistant.send') }}
    </button>
</div>
