<app-application-menu></app-application-menu>

<div class="content">
    <router-outlet></router-outlet>
</div>

<app-loading [global]="true"></app-loading>

<app-update-modal
    *ngIf="isUpdateModalOpen"
    [update]="availableUpdate"
    [isInstalling]="isInstallingUpdate"
    [progress]="updateDownloadProgress"
    [errorMessage]="updateErrorMessage"
    (closeAction)="closeUpdateModal()"
    (ignoreAction)="ignoreAvailableUpdate()"
    (updateAction)="installUpdate()">
</app-update-modal>

<app-yes-no-modal
    *ngIf="isCloseConfirmationOpen"
    [title]="t('tabs.unsavedChangesTitle')"
    [message]="t('applicationClose.unsavedSqlQueriesMessage')"
    (closeAction)="cancelApplicationClose()"
    (continueAction)="confirmApplicationClose()">
</app-yes-no-modal>
