<div class="content d-flex gap-2">
    <div class="add" (click)="toggleDropdown()">
        <img src="icons/add.png" height="20px">

        <div class="dropdown" *ngIf="dropdownVisible">
            <ul>
                <li class="text-min" (click)="newTab('sql', { sql: '' })">
                    <img src="icons/code.png" height="10px">
                    New query
                </li>
                <li class="text-min" (click)="loadTab()">
                    <img src="icons/folder-code.png" height="10px">
                    Load query
                </li>
            </ul>
        </div>
    </div>
    <div class="wrap-tables">
        <div class="tabs" #tabsContainer>
            <div class="tab gap-3" *ngFor="let tab of tabs; let i = index" [class.active]="i === activeTab"
                (click)="selectTab(i)">
                <img src="icons/code.png" height="15px" />
                <div class="text">
                    <p class="text-min">{{ tab.name }}</p>
                </div>
                <img src="icons/close.png" height="15px" (click)="closeTab(i, $event)" />
            </div>
        </div>
    </div>
</div>

<app-load-query *ngIf="showLoadQuery" (open)="onOpenLoadQuery($event)"
    (close)="onCloseLoadQuery($event)"></app-load-query>