.sidebar {
    width: 320px;
    height: 100%;
    background: #131313;
    transition: width 0.3s ease;
    padding: 10px;

    &.open {
        width: 150px;
    }

    .connections {
        padding: 0px 5px;
        overflow-y: auto;
        max-height: calc(100% - 80px);
    }

    .connection {
        background-color: #232020;
        border-radius: 15px;
        padding: 10px;

        display: flex;
        flex-direction: column;

        cursor: pointer;

        h2 {
            margin: 0;
            text-wrap: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p {
            margin: 0;
            text-wrap: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .connection-info {
            .database-name {
                margin: 0;
                text-wrap: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                color: #969696;
                font-size: .8em;
            }
        }
    }

    .toogle-div {
        cursor: pointer;

        background-color: #232020;
        border-radius: 15px;
    }
}