.sidebar {
    width: 320px;
    height: 100%;
    background: #131313;
    transition: width 0.3s ease;
    padding: 10px;

    &.open {
        width: 180px;
    }

    .schema,
    .database {
        display: flex;
        align-items: center;

        gap: 10px;
        padding: 10px;
        margin-bottom: 16px;
        border-radius: 15px;

        background-color: #232020;

        cursor: pointer;

        p {
            margin: 0;

            text-wrap: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .connections {
        padding: 0px 5px;
        overflow-y: auto;
        max-height: calc(100% - 198px);
    }

    .connection {
        background-color: #232020;
        border-radius: 15px;
        padding: 10px;

        display: flex;
        flex-direction: column;

        cursor: pointer;

        h2 {
            margin: 0;
            text-wrap: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p {
            margin: 0;
            text-wrap: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .connection-info {
            .database-name {
                margin: 0;
                text-wrap: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                color: #969696;
                font-size: .8em;
            }

            .schemas {
                display: flex;
                justify-content: center;
                flex-direction: column;

                margin-top: 5px;
                padding-left: 20px;
            }
        }
    }

    .toogle-div {
        cursor: pointer;

        background-color: #232020;
        border-radius: 15px;
    }
}