<div class="code-editor-container d-flex h-100 gap-2">
    <div class="editor-toolbar d-flex align-items-center flex-column">
        <button class="btn">
            <img (click)="runSelected()" src="icons/run.png" title="Run selected code" height="15px">
        </button>
        <button class="btn">
            <img (click)="runAll()" src="icons/execute-all.png" title="Run all code" height="15px">
        </button>
        <button class="btn">
            <img src="icons/star.png" title="Indent code" height="15px">
        </button>
        <button class="btn" (click)="saveQuery()">
            <img src="icons/save.png" title="Save code" height="15px">
        </button>
        <button class="btn" (click)="saveAs()">
            <img src="icons/save_as.png" title="Save code as" height="15px">
        </button>
    </div>
    <div class="code-editor py-2">
        <div class="code-editor py-2">
            <div #editorContainer class="editor"></div>
            <app-table-query (newValuesQuery)="newValues()" *ngIf="queryReponse.length > 0" [query]="queryReponse"
                [calcWidth]="widthTable"></app-table-query>
        </div>
    </div>
</div>

<app-toast></app-toast>
<app-save-query [data]="dataSave" *ngIf="isSaveAsOpen" (saved)="savedSaveAs($event)" (close)="closeSaveAs()"></app-save-query>