<div class="code-editor-container d-flex h-100 gap-3">
    <div class="editor-toolbar d-flex align-items-center flex-column">
        <button class="btn">
            <img src="icons/run.png" title="Run selected code" height="15px">
        </button>
        <button class="btn">
            <img src="icons/execute-all.png" title="Run all code" height="15px">
        </button>
        <button class="btn">
            <img src="icons/star.png" title="Indent code" height="15px">
        </button>
    </div>
    <div class="code-editor py-2">
        <textarea class="h-100 w-100" spellcheck="false" (keydown)="handleKeyDown($event)" [(ngModel)]="sqlContent"
            (input)="onInput($event)"></textarea>
    </div>
</div>