:host {
    height: 100%;
}

.code-editor {
    width: 100%;
    height: 100%;

    position: relative;
    display: flex;
    flex-direction: column;

    .editor {
        position: relative;
        height: 100%;
    }
}

.editor-toolbar {
    background-color: #1b1b1b;
    border-radius: 15px;
}

.code-editor-container {
    display: flex;
    height: 100%;
    max-width: 98%;
    gap: 1rem;
    overflow: hidden;
}

.editable-div {
    background-color: #292727;
    color: #f8f8f2;

    border: none;
    resize: none;

    font-family: 'Nunito';
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.09px;
    word-spacing: 1.5px;

    outline: none;

    white-space: nowrap;
    overflow-x: auto;
    overflow-y: auto;

    caret-color: white;
}

// Monaco editor

.editor {
    max-width: 99%;
    max-height: 99%;

    word-spacing: 4px !important;
}

.monaco-editor .margin {
    width: 30px !important;
    background-color: transparent !important;
}

.monaco-editor {
    background-color: transparent !important;
    border: none !important;
}

.monaco-editor .margin-view-overlays {
    background-color: transparent !important;
    border-right: none !important;
}

.monaco-editor .lines-content {
    background-color: transparent !important;
}

.monaco-editor .sticky-scroll {
    box-shadow: none !important;
    background: transparent !important;
}

.overflow-guard {
    width: 100% !important;
}