.table-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    resize: none !important;
    border-top: 1px solid #444;

    max-height: 80%;
}

.resize-handle,
.options {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: #1b1b1b;
    cursor: row-resize;
    z-index: 3;
}

.options {
    height: 30px;
    cursor: default;
}

.query-table {
    width: 100%;
    min-height: 200px;
    border-collapse: collapse;
}

.query-table th,
.query-table td {
    padding: 8px;
    text-align: left;
    white-space: nowrap;
    color: #fff;
}

.query-table th {
    border: 1px solid #444;
}

.query-table thead,
.query-table th {
    position: sticky;
    top: 9px;
    background: #1b1b1b;
    z-index: 2;
}

.query-table tbody tr:nth-child(even) td {
    background-color: #292727 !important;
}

.query-table tbody tr:nth-child(odd) td {
    background-color: #3a3a3a !important;
}