<div #tableWrapper class="table-wrapper" (scroll)="onScroll($event)">
    <div class="resize-handle" (mousedown)="startResize($event)"></div>
    <table #queryTable class="query-table">
        <thead>
            <tr>
                <th>#</th>
                <th *ngFor="let key of getKeys(query[0])">{{ key }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of query; let i = index">
                <td>{{ i + 1 }}</td>
                <td *ngFor="let value of getValues(row)">{{ value }}</td>
            </tr>
        </tbody>
    </table>
</div>